#contact-content {
  font-family: "Chewy", Arial,Helvetica, sans-serif;
  color: #47525E;
  margin: 0 10vw;
}

#contact-title {
  color: #000000;
  text-align: center;
  font-size: 2.3em;
  margin: 32px auto;
}
