<footer class="footer-content">
  <span id="footer-lists-content">
      <div id="policy-content">
      <h3 class="footer-title-list">Policy</h3>
      <span class="footer-list-content">
        <p class="element-list" (click)="router.navigate(['/legal'])">
          Mentions légales
        </p>
        <p class="element-list" (click)="router.navigate(['/data'])">
          Politique d'utilisation des données
        </p>

      </span>
    </div>

    <div id="mindory-content">
      <h3 class="footer-title-list">Mindory</h3>
      <span class="footer-list-content">
        <p class="element-list" (click)="router.navigate(['/about'])">
          À propos
        </p>
        <p class="element-list">
          Nous contacter
        </p>
      </span>
    </div>
  </span>

  <div id="footer-social-network">
    <img class="social_icon" src="../../../assets/images/facebook.png" alt="facebook icon">
    <img class="social_icon" src="../../../assets/images/twitter.png" alt="twitter icon">
    <img class="social_icon" src="../../../assets/images/linkedin.png" alt="linkedin icon">
    <img class="social_icon" src="../../../assets/images/instagram.png" alt="instagram icon">
  </div>

</footer>
