<div class="footer-content">
  <span id="footer-lists-content">
      <div id="policy-content">
      <h3 class="footer-title-list">Policy</h3>
      <span class="footer-list-content">
        <p class="element-list">
          Mentions légales
        </p>
        <p class="element-list">
          Politique d'utilisation des données
        </p>

      </span>
    </div>

    <div id="mindory-content">
      <h3 class="footer-title-list">Mindory</h3>
      <span class="footer-list-content">
        <p class="element-list">
          À propos
        </p>
        <p class="element-list">
          Nous contacter
        </p>
      </span>
    </div>
  </span>

  <div id="footer-social-network">
    <img class="social_icon" src="../../../assets/images/facebook.png">
    <img class="social_icon" src="../../../assets/images/twitter.png">
    <img class="social_icon" src="../../../assets/images/linkedin.png">
    <img class="social_icon" src="../../../assets/images/instagram.png">
  </div>

</div>
