* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.credit {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.credit a {
  color: inherit;
}

a,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

a::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

a:hover::after {
  width: 100%;
}

.main-container {
  padding: 30px;
}


.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
  font-family: "Chewy", Arial,Helvetica, sans-serif;
  text-align: center;
}

.card__text {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
  font-family: "Chewy", Arial,Helvetica, sans-serif;
}

.card-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

}


.card__apply {
  grid-row: 4/5;
  align-self: center;
  font-family: "Chewy", Arial,Helvetica, sans-serif;
}

#link-content {
  display: flex;
  flex-direction: row;
  align-content: baseline;
}

.card-1 {
  background: radial-gradient(#ff7979, #F73C3B);
}

