#header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 90%;
  margin: auto;
}

#header_content a {
  cursor: pointer;
}

#nav-bar-link-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  font-family: "Chewy", Arial,Helvetica, sans-serif;
  color: #47525E;
  margin-right:5%;
}

#image_logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.header-nav {
  font-family: "Chewy", Arial,Helvetica, sans-serif;
  color: #47525E;
}

.header-sign {
  color: #F73C3B;
}

@media screen and (max-width: 1100px) {

  #nav-bar-link-content {

    width: 50%;
  }
}

@media screen and (max-width: 950px) {

  #nav-bar-link-content {

    width: 55%;
  }
}

@media screen and (max-width: 750px) {

  #nav-bar-link-content {

    width: 65%;
  }
}


@media screen and (max-width: 400px) {

  #header_content {
    width: 100%;
  }
}
