<app-header-login></app-header-login>
<span id="forget_content">
    <h1>Mot de passe oubliée</h1>
    <h3>renseignez l'email associé à votre compte sauf pour recevoir le mail de réinitialisation</h3>
    <form id="form-forget" [formGroup]="forgetForm" (ngSubmit)="postForgetForm()">

      <mat-form-field class="example-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="text" name="email" id="email" formControlName="email" required>
        <mat-icon id="mail_icon" matSuffix>mail</mat-icon>
      </mat-form-field>

      <span id="button-validation">
          <button id="button_forget" [ngClass]="{'button_connect_active': !forgetForm.invalid && !buttonIsInValidAfterClick}" mat-raised-button [disabled]="forgetForm.invalid || buttonIsInValidAfterClick">Valider</button>
      </span>

    </form>
  <span id="big_logo_content">
      <img id="big_logo" src="assets/mindory_big.png">
  </span>
</span>
