#header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 80%;
  margin: auto;
}

#image_logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#button_header {
  font-family: "Chewy", Arial,Helvetica, sans-serif;
  background: #F73C3B;
  color: white;
}

@media screen and (max-width: 400px) {

  #header_content {
    width: 100%;
  }

}
