<app-header></app-header>
<div id="home-content">
  <div id="home-first-content">
     <span id="home-welcome-text">
      <h1>Bienvenue sur Mindory</h1>
      <span>
        <p>Le meilleur site pour apprendre en s'amusant.
        S'amuser est la meilleur façon d'apprendre et de retenir
        </p>
         <button class="home-button" mat-raised-button color="primary">Commencer à jouer</button>
      </span>

    </span>
    <div id="card-content">
      <img id="card_logo" src="../../../assets/images/Mindory_card.png">
    </div>
  </div>
</div>

