.create-part-content {
  font-family: "Chewy", Arial,Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.create-part-content {
  font-size: 1.2em;
}

.form-keyword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs_form {
  margin-top: 15%;
  margin-bottom: 15%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.inputs_form mat-form-field {
  margin-right: 10%;
  margin-left: 10%;
}

.inputs_form mat-form-field mat-label{

  font-family: "Chewy", Arial,Helvetica, sans-serif;
}

.link-create {
  cursor: pointer;
  color: blue;
}

.images-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(10vh, 15vh);
  width: 60%;
  margin: auto;
  color: white;
}

.image-content {
  justify-content: center;
  align-items: center;
  /*perspective: 1000px;*/
}

.scrap-picture {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

