<app-header></app-header>
<span id="profil_content">
    <h3>Changer votre mot de passe</h3>
    <form id="form-change-password" [formGroup]="subscribeForm" (ngSubmit)="postSubscribeForm()">
      <mat-form-field class="example-form-field">
        <mat-label>Ancien mot de passe</mat-label>
        <input matInput [type]="hidePasswordVisibility ? 'password': 'text'" name="oldPassword" id="oldPassword" formControlName="oldPassword" required>
        <mat-icon class="input_icon password_icon" (click)="hidePasswordVisibility = !hidePasswordVisibility" matSuffix>{{hidePasswordVisibility ? 'visibility_off': 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Mot de passe</mat-label>
        <input matInput [type]="hidePasswordVisibility ? 'password': 'text'" name="password" id="password" formControlName="password" required>
        <mat-icon class="input_icon password_icon" (click)="hidePasswordVisibility = !hidePasswordVisibility" matSuffix>{{hidePasswordVisibility ? 'visibility_off': 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Retaper mot de passe</mat-label>
        <input matInput [type]="hidePasswordConfirmationVisibility ? 'password': 'text'" name="confirmationPassword" id="confirmationPassword" formControlName="confirmationPassword" required>
        <mat-icon class="input_icon password_icon" (click)="hidePasswordConfirmationVisibility = !hidePasswordConfirmationVisibility" matSuffix>{{hidePasswordConfirmationVisibility ? 'visibility_off': 'visibility'}}</mat-icon>
      </mat-form-field>

      <span id="button-validation">
          <button id="button_change_password" [ngClass]="{'button_subscribe_active': !subscribeForm.invalid && !buttonIsInValidAfterClick}" mat-raised-button [disabled]="subscribeForm.invalid || buttonIsInValidAfterClick">Changer de mot de passe</button>
      </span>
    </form>
</span>
<app-footer></app-footer>
