<div id="banner-play-content">
  <div id="back-button-content">
    <mat-icon (click)="handleDeckClick()">arrow_back</mat-icon>
    <p (click)="handleDeckClick()">Decks</p>
  </div>
  <div id="banner-time-logo">
    <div class="banner-play-timer">
      <h1 *ngIf="localStorageService.getSessionToken(); else NoConnect">Votre Record sur ce deck</h1>
      <ng-template #NoConnect><h1>Connectez vous pour enregistrer vos temps</h1></ng-template>
      <h1>{{playSoloService.betterPartTime |date:'HH:mm:ss':'UTC'}}</h1>
    </div>
    <div id="logo-play-content banner-play-timer">
      <!--<img class="banner-play-logo" *ngIf="deck" src="http://localhost:3000/{{deck?.image}}" alt="{{deck?.image}}">-->
      <h1>{{deck?.title}}</h1>
    </div>
    <div class="banner-play-timer">
      <h1>Temps</h1>
      <h1>{{playSoloService.time |date:'HH:mm:ss':'UTC'}}</h1>
    </div>
  </div>
</div>
