<div id="decks-tab-container">
  <div class="grid-container" [ngStyle]="{'grid-template-rows': 'repeat(' + (listDeckService.decks.length + 1) + ', 1fr)'}">
    <span class="grid-header">ID</span>
    <span *ngFor="let deck of listDeckService.decks">{{deck.id}}</span>

    <span class="grid-header">Nom</span>
    <span *ngFor="let deck of listDeckService.decks">{{deck.title}}</span>

    <span class="grid-header">Nombre de cartes</span>
    <span *ngFor="let deck of listDeckService.decks">{{deck.count}}</span>

    <span class="grid-header"></span>
    <span *ngFor="let deck of listDeckService.decks"><a (click)="handleDeckClick(deck.id)" style="text-decoration: underline">Éditer</a></span>

    <span class="grid-header"><a style="text-decoration: underline"></a></span>
    <span *ngFor="let deck of listDeckService.decks"><a (click)="deleteDeck(deck.id)" style="color: red; text-decoration: underline">Supprimer</a></span>
  </div>
</div>
<span id="link-scrap-picture">
  <p>Scraper des photos pour un deck ?<a [routerLink]="'/admin/scrap'"> cliquez ici</a></p>
</span>
