<div id="decks-tab-container">
  <div class="grid-container">
    <span class="grid-header">ID</span>
    <span class="grid-header">Nom</span>
    <span class="grid-header">Créé par</span>
    <span class="grid-header">Nombre de cartes</span>
    <span class="grid-header"></span>
    <span class="grid-header"><a style="text-decoration: underline">Ajouter un deck</a></span>

    <span>1</span>
    <span>Python</span>
    <span>W.I.P.</span>
    <span>30</span>
    <span><a style="text-decoration: underline">Voir / Modifier le deck</a></span>
    <span><a style="color: red; text-decoration: underline">Supprimer</a></span>
    <span>1</span>
    <span>Python</span>
    <span>W.I.P.</span>
    <span>30</span>
    <span><a style="text-decoration: underline">Voir / Modifier le deck</a></span>
    <span><a style="color: red; text-decoration: underline">Supprimer</a></span>
  </div>
</div>
