* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}

#play-deck-title{
  text-align: center;
  font-family: "Chewy", Arial,Helvetica, sans-serif;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-auto-rows: 55vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1050px) {
  .card-container {
    grid-template-columns: repeat(2, 40%);
    grid-auto-rows: auto;
  }
}

@media (max-width: 700px) {
  .card-container {
    grid-template-columns: repeat(1, 40%);
    grid-auto-rows: auto;
  }
}
