.game-board-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(10vh, 15vh);
  width: 60%;
  margin: auto;
  color: white;
}

.game-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /*perspective: 1000px;*/
}


app-card-duo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
