#login_content {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  min-width: 300px;
  font-family: "Chewy", Arial,Helvetica, sans-serif;
}

#form-reset-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inputs_form {
  margin-top: 15%;
  margin-bottom: 15%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#inputs_form mat-form-field {
  margin-right: 10%;
  margin-left: 10%;
}

#inputs_form mat-form-field mat-label{

  font-family: "Chewy", Arial,Helvetica, sans-serif;
}

#password_icon {
  color: grey;
  cursor: pointer;
}

#mail_icon {
  color: grey;
}

#big_logo_content {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 50%;
  min-width: 200px;
  min-height: 240px;
}

#big_logo {
  width: 100%;
  height: 100%;
}

#button_connect {
  font-family: "Chewy", Arial,Helvetica, sans-serif;
}

.button_connect_active {
  background: #F73C3B;
  color: white;
}

.password_icon {
  cursor: pointer;
}

@media screen and (max-width: 450px) {


  #big_logo_content {
    display: none;
  }

  #inputs_form {
    flex-direction: column;
  }

  #inputs_form mat-form-field {
    margin-right: 0;
    margin-left: 0;
  }

}

