<app-header-login></app-header-login>
<span id="login_content">
    <h1>Réinitialiser votre mot de passe</h1>
    <h3>Plus que quelques effort avant de jouer</h3>
    <form id="form-reset-password" [formGroup]="resetPasswordForm" (ngSubmit)="postResetPasswordForm()">

      <span id="inputs_form">
          <mat-form-field class="example-form-field">
            <mat-label>Nouveau Mot de passe</mat-label>
            <input matInput [type]="hidePasswordVisibility ? 'password': 'text'" name="password" id="password" formControlName="password" required>
            <mat-icon class="input_icon password_icon" (click)="hidePasswordVisibility = !hidePasswordVisibility" matSuffix>{{hidePasswordVisibility ? 'visibility_off': 'visibility'}}</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-form-field">
            <mat-label>Retaper le nouveau mot de passe</mat-label>
            <input matInput [type]="hidePasswordConfirmationVisibility ? 'password': 'text'" name="confirmationPassword" id="confirmationPassword" formControlName="confirmationPassword" required>
            <mat-icon class="input_icon password_icon" (click)="hidePasswordConfirmationVisibility = !hidePasswordConfirmationVisibility" matSuffix>{{hidePasswordConfirmationVisibility ? 'visibility_off': 'visibility'}}</mat-icon>
          </mat-form-field>
      </span>

      <span id="button-validation">
          <button id="button_connect" [ngClass]="{'button_connect_active': !resetPasswordForm.invalid && !buttonIsInValidAfterClick}" mat-raised-button [disabled]="resetPasswordForm.invalid || buttonIsInValidAfterClick">Valider</button>
      </span>

    </form>
  <span id="big_logo_content">
      <img id="big_logo" src="../../../assets/images/mindory_big.png">
  </span>
</span>
